.banner {
    max-width: 100%;
    border: 1px solid red;
    padding-block: 2.5rem;
    overflow: hidden;

    .scroller {
        border: solid 1px black;
        width: 100%;
        overflow: hidden;
        padding-block: 1rem;
    }
    .rolling {
        display: flex;
        gap: 1.5rem;

        animation: rolling 2s linear infinite;
    
    }
}
@keyframes rolling {
    to {
        transform: translateX(-132px);
    }
}