

section.hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    
    & h1 {
        max-width: 40rem;
    }

    & h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    & h1 span:nth-child(1){
        color:#06B6D4 ;
    }
    & h1 span:nth-child(2){
        color: #DB2777;
    }
    & h1 span:nth-child(3){
        color: var(--snitap-leaf-mid);
    }
    
    & h1 span:nth-child(4){
        color:#06B6D4 ;
    }
    
    & h1 span {
        display: block;
        animation: slideUp 6s infinite ;
    }
    /* buttons */
    & .buttons {
        display: flex;
        gap: 2rem;
        margin-top: 3rem;

        & .button {
            display: flex;
            align-items: center;
            gap: .75rem;

            border-radius: 5rem;

            transition: scale 350ms;

            &.buy {
                padding: 1.5rem 3rem;
                background-color: #FFCD1E;
            }
            &.play {
                padding-right: 2rem;
            }

            &.play span {
                display: flex;
                padding: 1.5rem;
                border-radius: 50%;
                background-color: white;
            }
            &.play span:hover {
                background-color: #DB2777;
            }

            &.play:hover {
                border: 1px solid #DB2777;
            }
            &:hover {
                scale: 1.1;
            }
            &.buy:hover {
                background-color: #f0c21c;
            } 
        }

        & .shadow {
            box-shadow: 
            0 2px 5px rgba(71, 70, 70, 0.1),
            0 9px 9px rgba(87, 86, 86, 0.1),
            0 3px 3px rgba(76, 75, 75, 0.1),
            0 8px 8px rgba(91, 88, 88, 0.1);
        }
    }
    /*patins*/
    & > div:nth-child(2) {
        display: block;
        width: 100%;
        max-width: 30.5rem;
        height: 30.5rem;
        
        
        
        & .content {
            width: 100%;
            height: 100%;
            position: relative;

        }
            & img {
                position: absolute;
                width: 100%;
            }
        & img[src*="Ellipse"] {
            width: 94%;
            top: 3%;
            left: 3%;

            transform: translateX(200%);
            animation: slideIn 3s ease forwards;
        }
        & img[src*="patins"] {
            z-index: 1;

            transform: translateX(200%);
            animation: slideIn 4s ease forwards;
        }
        & .Stars1 {
            max-width: 5.5rem;
            top: 30%;
            z-index: 0;

            transform: translateX(800%);
            animation: slideIn 3s ease forwards;
        }
        & .Stars2 {
            max-width: 2.5rem;
            right: 0;
            bottom: 5%;

            transform: translateX(700%);
            animation: slideIn 4s ease forwards;
        }
    }
}
@keyframes slideIn {
    100% {
        transform: translateX(0);
    }
}
@keyframes slideUp {
    /*radical static*/
    0%, 22% {
        transform: translateY(0);
    }
    /*divertida in */
    23% {
        transform: translateY(calc(-5rem - 15px));
    }
    25% {
        transform: translateY(calc(-5rem + 10px));
    }
    27% {
        transform: translateY(calc(-5rem - 5px));
    }
    29% {
        transform: translateY(calc(-5rem + 5px));
    }
    /*divertida out*/

    33%, 55% {
        transform: translateY(-5rem);
    }
    /*saudavel in */
    
    56% {
        transform: translateY(calc(-10rem - 15px));
    }
    57% {
        transform: translateY(calc(-10rem + 10px));
    }
    59% {
        transform: translateY(calc(-10rem - 5px));
    }
    61% {
        transform: translateY(calc(-10rem + 5px));
    }
    /*saudavel out*/

    66%, 88% {
        transform: translateY(-10rem);
    }
      /*radical in */
    89% {
        transform: translateY(calc(-15rem - 15px));
    }
    91% {
        transform: translateY(calc(-15rem + 10px));
    }
    93% {
        transform: translateY(calc(-15rem - 5px));
    }
    95% {
        transform: translateY(calc(-15rem + 5px));
    }
    /*radical out*/

    100% {
        transform: translateY(-15rem);
    }


}